<h1>Appointments</h1>
<% if @appointments.size > 0 %>
  <% @appointments.each do |appointment| %>
    <% if current_user.doctor? %>
      <%= render "card", user: patient(appointment), appointment: appointment %>
    <% else %>
      <%= render "card", user: doctor(appointment), appointment: appointment %>
    <% end %>
  <% end %>
<% else %>
  <h4 class="text-center"> You don't have any appointments.</h4>
<% end %>
<%= paginate @appointments %>
